@model ShopBridgeApplication.Models.ProductViewModel
@{
    ViewData["Title"] = "Create";
}

@section Scripts{ 
<script src="~/js/ShopBridge.js"></script>
}

<h2 class="text-info">Add Product</h2>
<form enctype="multipart/form-data" asp-action="Create">
    <div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductName" class="form-control"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductName" class="form-control" />
            </div>
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Description" class="form-control"></label>
            </div>
            <div class="col-5">
                <input asp-for="Description" class="form-control" height="50" width="200" />
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Price" class="form-control"></label>
            </div>
            <div class="col-5">
                <input asp-for="Price" class="form-control" />
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UnitsAvailable" class="form-control"></label>
            </div>
            <div class="col-5">
                <input asp-for="UnitsAvailable" class="form-control" />
            </div>
            <span asp-validation-for="UnitsAvailable" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductImage" class="form-control"></label>
            </div>
            <div class="custom-file col-6">
                <input asp-for="ProductImage" class="custom-input" id="customFileImage">
            </div>
            <span asp-validation-for="ProductImage" class="text-danger"></span>

            <div class="col-9" id="previewImageDiv">
                <img id="previewImage" name="productPreviewImage" src="" height="150" width="180" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
            <div class="col-6">
                <a asp-action="Index" class="btn btn-success">Back to Product List</a>
            </div>
        </div>
    </div>
</form>
