@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-3">To</h3>
    <h1 class="display-4">Shop Bridge</h1>
</div>

<br />
<br />
<br />
<h3>Few Points About Shop Bridge Advantages</h3>
<div class="text-primary">
    <li style="text-align:left">
        Understanding the advantages of ecommerce
    </li>
    <li style="text-align:left">
        Faster buying process.
    </li>
    <li style="text-align:left">
        Store and product listing creation.
    </li>
    <li style="text-align:left">
        Cost reduction.
    </li>
    <li style="text-align:left">
        Affordable advertising and marketing.
    </li>
    <li style="text-align:left">
        Flexibility for customers.
    </li>
    <li style="text-align:left">
        No reach limitations.
    </li>
    <li style="text-align:left">
        Product and price comparison.
    </li>
    <li style="text-align:left">
        Faster response to buyer/market demands.
    </li>
</div>
