@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Page belongs to the Shop Bridge Creation. Any illegeal activities will be reported and action will be taken. Breaching or Hacking will be tracked. </p>
<p>This site is to maintain Product Details accessed by Online Sellers. </p>
