<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopBridgeApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color: #17a2b8;">
            <div class="container bg-info">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">ShopBridgeApplication</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" style="font-weight:400" asp-area="" asp-controller="Product" asp-action="Create">Add Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" style="font-weight:400" asp-area="" asp-controller="Product" asp-action="Index">Product List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" style="font-weight:400" asp-area="" asp-controller="Product" asp-action="Index">Edit Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" style="font-weight:400" asp-area="" asp-controller="Product" asp-action="Index">Delete Product</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ShopBridge Creation    <a asp-area="" asp-controller="Home" asp-action="Privacy" style="text-decoration:none; margin-left:300px">Privacy</a>
            <p style="float:right">Know About me More On <a href="https://in.linkedin.com/in/keerthivasan-asokkumar" style="text-decoration:none">LinkedIn</a>.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
